<% content_for :title do %>Ignite World Time Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">       
	<div data-view="TwelveHourClock"></div>
    </li>
  
</div>
